#background{
    background-color: #201d1c;
}
.center{
    text-align: center;
    width: 100%;
    height: 100%;
padding: 200px 0;
font-size: 25px;
color: crimson;
font-family: Georgia, 'Times New Roman', Times, serif;
 }
#Logo{
width: 200px;
height: 200px;
}
